* {
    box-sizing: border-box;
    --webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #141414;
}

#Social-Profile-Container {
    margin: 5rem auto;
    width: 380px;
    background-color: #1f1f1f;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.Jessica-image img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    margin-top: 2rem;
}

.Profile-details {
    text-align: center;
}

.Profile-details h1 {
    color: white;
    margin-top: 1.5rem;
    font-size: 30px;
    font-weight: 460;
}

.Profile-details h4 {
    color: #c5f82a;
    font-weight: 500;
    font-size: 16px;
    margin-top: .5rem;
}

.Profile-details p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-top: 2.5rem;

}

.Social-Links-Container {
    margin-top: .5rem;
}

.Social-Links li {
    list-style-type: none;
    display: flex;
    text-align: center;
    width: 304px;
    height: 45px;
    margin: 1rem 0rem;
}

.Social-Links li a {
    text-decoration: none;
    background-color: #333333;
    color: white;
    width: 304px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-weight: 700;
    transition: all .2s ease-in;
}

.Social-Links li a:hover {
    background-color: #c5f82a;
    color: #141414;
}


/* Media Queries below: */

@media screen and (max-width: 500px) {
    #Social-Profile-Container {
        width: 90%;
        height: 620px;
    }

    .Social-Links li a {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
}